@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fuente-inter: "Inter", sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #E5E5E5;
    color: #0A3871;
}

.header__menu{
    display: flex;
    gap: 10px;
    padding: 1% 0% 0% 5%;
}

.presentacion{
    justify-content:space-around;
    display: flex;
    padding: 2% 5% 0% 0%; 
}

.container__formulario{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 8% 8% 2% 8%;
}

.mi__formulario{
    resize: none;
    border:hidden;
    background: none;
    font-family: var(--fuente-inter);
    font-size: 32px;
    color:#0A3871;
}

.pie__formulario{
    font-family: var(--fuente-inter);
    font-size: 12px;
    color: gray;
}

.container__texto{
    resize: none;
    border:hidden;
    font-family: var(--fuente-inter);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color:#000000;
}

.container__texto__mostrado{
    width: 30%;
    background-color: white;
    align-items: center;
    text-align: center;
    padding: 10% 1% 5% 1%;
    border-radius: 32px;
    border-style: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    font-family: var(--fuente-inter);
    font-size: 16px;
    text-decoration: none;
    color: gray;
    display: flex;
    flex-direction: column;
}

.texto__default{
    display: flex;
    text-align: center;
    font-family: var(--fuente-inter);
    font-size: 24px;
    font-weight: bold;
    color:black;
}

.presentacion__imagen{
    width: 60%;
}

.container__botones{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.container__boton__encriptar{
    width: 328px;
    height: 67px;
    text-align: center;
    background: #0A3871;
    padding: 24px;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-size: 16px;
    text-decoration: none;
    color: whitesmoke;
    border-style:hidden ;
    justify-content: center;
    gap: 10px;
}

.container__boton__desencriptar{
    width: 328px;
    height: 67px;
    text-align: center;
    padding: 24px;
    border-radius: 24px;
    font-family: var(--fuente-inter);
    font-size: 16px;
    text-decoration: none;
    color: #0A3871;
    border: 2px solid ;
    justify-content: center;
    gap: 10px;
}